@font-face
{
    font-family: "LXGWWenKaiScreenR";
    font-style: normal;
    src: local(""),
        url("../fonts/LXGWWenKaiScreenR.woff2") format("woff2"); 
}

@font-face
{
    font-family: "LXGWWenKaiMono";
    font-style: normal;
    src: local(""),
        url("../fonts/LXGWWenKaiMono-Regular.woff2") format("woff2"); 
}