/* @font-face
{
    font-family: "LXGWWenKaiScreenR";
    font-style: normal;
    src: local(""),
        url("../fonts/LXGWWenKaiScreenR.woff2") format("woff2"); 
}

@font-face
{
    font-family: "LXGWWenKaiMono";
    font-style: normal;
    src: local(""),
        url("../fonts/LXGWWenKaiMono-Regular.woff2") format("woff2"); 
} */

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Regular.eot");
    src: url("../fonts/JetBrainsMono-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"),
        url("../fonts/JetBrainsMono-Regular.woff") format("woff"),
        url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.hljs{
    font-family: 'JetBrains Mono', "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, monospace !important;
}

code{
    font-family: 'JetBrains Mono', "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", Courier, monospace !important;
}