<!-- <div id="site_search">
    <input type="text" id="local-search-input" name="q" results="0" placeholder="search my blog..." class="form-control"/>
    <div id="local-search-result"></div>
  </div> -->
<form id="search-form">
  <!-- 搜索框相关 -->
  <div class="search-group">
    <input type="text" id="local-search-input" name="q" results="0" class="search form-control" autocomplete="off"
      autocorrect="off" />
    <span class="highlight"></span><span class="bar"></span>
    <lable class="search-label">Search</lable>
  </div>
</form>
<div id="local-search-result"></div> <!-- 搜索结果区 -->